<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.geoApp"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />

        <name>geoApp</name>

        <description>
        	Aplicación de prueba de geolocalización
        </description>

        <author href="http://igitsoft.com" email="info@igitsoft.com">
        Antonio Juárez Flores
        </author>

		<!-- Plugins -->
        <gap:plugin name="org.apache.cordova.geolocation" source="pgb" version="0.3.0" />

    </widget>